.abs-center 
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form 
  {
    width: 450px;
  }
.logo {
    width: 12%;
    display: inline-block;
}

.titulo {
    width: 45%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    color: wheat;
}

.tituloprin {
    text-align: center;
    list-style: none;
    padding: 0;
    background-color: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.tipovi {
    text-align: center;
    list-style: none;
    padding: 0;
    background-color: #0c2709cc;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.pregunta {
    color: rgba(134, 10, 10, 0.863);
}

.imagenPrincipal {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.imagensecu {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.parrafoPrincipal {
    text-align: justify;
    width: 80%;
    font-size: 1.2em;
    line-height: 39px;
    font-family: verdana;
    margin-top: 46px;
    margin-left: 150px;
    color: seashell;
}

.linkVerMas {
    text-decoration: none;
    color: seashell;
    font-size: 1.8em;
    margin: 0 auto;
    display: table;
}

.footer {
    text-align: center;
    color: #888888;
    padding: 30px 0;
}

.imagenprincipal {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.titulo {
    width: 45%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.menu {
    list-style: none;
    padding: 0;
    background-color: #173b8a;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #ffffff;
}

.video {
    position: fixed;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50);
}
.fondo
{
    background-image: image();
    
    opacity: inherit;
}